click==8.1.0
distlib==0.3.6
filelock==3.8.0
Flask==2.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
platformdirs==2.5.2
python-dotenv==0.20.0
SQLAlchemy==1.4.32
virtualenv==20.16.4
Werkzeug==2.1.0
WTForms==2.3.3
zipp==3.7.0
